@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #0a0a0a;
  --primary-foreground: #ededed;
  --secondary-background: #1f1f1f;
  --secondary-foreground: #8c8c8c;
  --muted: #111111;
  /* --muted: #121212; */
  --accent: #f30e57;
}

body {
  color: var(--primary-foreground);
  background: var(--primary-background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.recharts-pie * {
  outline: none !important;
}
