@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #0a0a0a;
  --primary-foreground: #ededed;
  --secondary-background: #1f1f1f;
  --secondary-foreground: #8c8c8c;
  --muted: #121212;
  --accent: #f30e57;
}

body {
  color: var(--primary-foreground);
  background: var(--primary-background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

g&:focus,
path&:focus {
  outline: none !important;
}

.recharts-layer {
  outline: none !important;
}
.recharts-pie * {
  outline: none !important;
}
